:root {
    /** WCAG color contrast on #000 (hue)/(RGB diff) */
    --fg: #e1e0e6;         /* 16.00 (+1,+0,+6) */
    --bg: #000;            /* 01.00 (+0,+0,+0) */
    --gray: #949597;       /* 07.00 (+0,+1,+3) */
    --hover: #1a1a1c;      /* 01.20 (+0,+0,+2) */
    --blue: #6060Ff;       /* 04.61 (240°) */
    --blue-hover: #7274FB; /* 06.40 (239°) */
    --red: #ED0000;        /* 04.60 (000°) */
    --red-hover: #FF4D49;  /* 06.40 (001°) */
    --border: .0625rem solid var(--hover);
    --radius: .5rem;
    --main-width: 34.75rem;
}

::selection {
    color: #fff;
    background-color: var(--blue);
}

a,
p,
h1,
h2,
html,
body,
input,
button,
textarea {
    all: unset;
}

/* ----- Body ----- */
html,
body {
    flex-direction: column;
    touch-action: manipulation;
    user-select: none;
    font: 400 16px system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}

body,
body * {
    display: flex;
    box-sizing: border-box;
}

/* ----- Inputs ----- */
input,
textarea {
    flex-grow: 1;
    border-radius: var(--radius);
    height: 2.5rem;
}

input,
textarea {
    cursor: default;
    background-color: var(--hover);
    padding: 0 .75rem;
}

textarea {
    word-wrap: break-word;
    width: 100%;
    height: 9.5rem;
    padding: .75rem;
}

.lower {
    text-transform: lowercase;
}

input:focus,
textarea:focus {
    cursor: text;
}

::placeholder {
    text-transform: none;
    color: var(--gray);
}

/* ----- Buttons ----- */
.btn {
    flex-direction: column;
    border: var(--border);
    border-radius: var(--radius);
    width: 100%;
    min-height: 2.5rem;
    margin: .125rem 0;
}

.btn button,
.list > div {
    border-radius: var(--radius);
    width: calc(100% + .125rem);
    margin: 0 -.0625rem;
}

.btn button {
    align-items: center;
    height: 2.5rem;
}

.list > div,
.btn button:first-child {
    margin-top: -.0625rem;
}

.btn button:last-child {
    margin-bottom: -.0625rem;
}

button:hover,
button:focus-visible {
    color: var(--fg);
}

nav button:hover,
.btn button:hover,
nav button:focus-visible,
.btn button:focus-visible {
    background-color: var(--hover);
}

button > * {
    pointer-events: none;
}

/* --- Blue/Red buttons --- */
.red,
.blue {
    color: #fff;
    background-color: var(--blue);
    border-radius: var(--radius);
    /* width: 100%; */
    height: 2.5rem;
}

.red {
    background-color: var(--red);
}

.blue:hover,
.blue:focus-visible {
    background-color: var(--blue-hover) !important;
}

.red:hover,
.red:focus-visible {
    background-color: var(--red-hover) !important;
}

/* --- Link buttons --- */
.a {
    color: var(--blue) !important;
}

.a:hover,
.a:focus-visible {
    text-decoration: underline;
}

/* --- Text --- */
h1,
.btn button span {
    flex-grow: 1;
    display: block;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: .25rem;
}

.btn button > span:first-child {
    margin-left: .625rem;
}

/* ----- Icons ----- */
svg {
    aspect-ratio: 1/1;
    fill: var(--gray);
}

nav svg,
.btn svg {
    height: 1.25rem;
    min-width: 1.25rem;
    margin: .625rem;
}

.btn button > svg:last-child {
    margin-left: 0;
}

.red svg,
.blue svg {
    fill: #fff !important;
}

button:hover svg,
button:focus-visible svg {
    fill: var(--fg);
}

img {
    border-radius: var(--radius);
}

button img {
    width: 1.5rem;
    min-width: 1.5rem;
    margin: .5rem;
}

.btn img {
    margin-right: .5rem;
}

/* ----- Classes ----- */
.space {
    flex-wrap: wrap;
    width: 100%;
}

.space > * {
    margin: .125rem 0;
}

.fit {
    width: fit-content;
    padding: 0 .5rem;
}

.min {
    height: 2rem;
}

.freeze {
    overflow: hidden;
}

.red,
.blue,
.popup,
.center {
    justify-content: center;
    align-items: center;
}

.hidden,
.search h1,
.search #bnav,
::-webkit-scrollbar,
#main main:not(.vis),
body:not(.search) nav input,
.search #back > :not(:last-child),
body:not(.back, .search) #back svg,
.back:not(.search) #back > :not(:nth-child(2)) {
    display: none;
}

/* ----- Nav ----- */
nav {
    position: fixed;
    align-items: center;
    background-color: var(--bg);
    border-bottom: var(--border);
    width: 100%;
    height: 2.5rem;
}

nav button {
    border-radius: var(--radius);
    width: 2.5rem;
    height: 2.5rem;
}

h1 {
    font-size: 18px;
    height: fit-content;
}

/* --- Noscript --- */
noscript {
    position: fixed;
    color: #fff;
    background-color: var(--red);
    width: 100%;
    height: 2.5rem;
    top: 0;
}

/* ----- Main ----- */
main,
#main {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main,
#main {
    flex-grow: 1;
}

#main {
    padding-top: 2.5rem;
}

#main main {
    max-width: var(--main-width);
    padding: 0 .5rem;
}

/* ----- Popup ----- */
.popup {
    position: fixed;
    background-color: #000a;
    width: 100%;
    height: 100%;
    padding: .5rem;
    top: 0;
}

.popup > div {
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--radius);
    max-width: var(--main-width);
    width: 100%;
    padding: .375rem .5rem;
}

#popup h2 {
    font-size: 1.125rem;
}

#popup :not(button) {
    width: 100%;
}

#popup button {
    margin-left: .5rem;
}

/* --- New --- */
#new > div > :last-child {
    margin-left: auto;
}

[data-f="sB"] {
    margin-right: .25rem;
}

/* ----- Form ----- */
.form {
    color: var(--gray);
}

.form input,
.form button.blue {
   width: 100%;
}

/* ----- Toggle ----- */
.toggle div {
    background-color: var(--blue);
    border-radius: var(--radius);
    min-width: 2.5rem;
    height: 50%;
}

.toggle div::after {
    content: '';
    background-color: var(--fg);
    border-radius: var(--radius);
    width: 50%;
    height: 100%;
}

.toggle.false div {
    justify-content: flex-end;
    background-color: var(--gray);
}

/* ----- List/Select ----- */
.list.false > div,
.list:not(.false) > button {
    display: none;
}

.list {
    position: relative;
}

.list > div {
    position: absolute;
    flex-direction: column;
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--radius);
    z-index: 1;
}

.list span:nth-child(3) {
    flex-grow: unset;
    color: var(--gray);
    min-width: fit-content;
    margin: 0 .125rem .125rem 0;
}

.list svg:nth-child(4) {
    width: 1rem;
    min-width: 1rem;
}

/* ----- Error page ----- */
.error {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/bg/waves-1.svg);
    background-size: cover;
    max-width: none !important;
}

/* ----- Mobile layout ----- */
@media screen and (max-width: 525px) {
    /* --- Nav --- */
    h1 {
        text-align: center;
    }

    #bnav {
        position: fixed;
        background-color: var(--bg);
        border-top: var(--border);
        width: 100%;
        height: 2.5rem;
        bottom: 0;
        left: 0;
    }

    .search #bnav {
        display: flex;
    }

    #bnav button {
        justify-content: center;
        width: 20%;
    }

    /* --- Main --- */
    /* .side #main,
    .side footer {
        padding-left: .5rem;
    } */

    /* --- Footer --- */
    /* footer {
        min-height: 5.5rem;
        padding-bottom: 2.75rem;
    } */

    /* --- Side menu --- */
    /* #side {
        height: calc(100% - 5.5rem);
    } */
}
