/* Latin */
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url(../font/roboto-latin.woff2) format('woff2');
}

:root {
    --fg: #e1e0e6;         /* 16.00 */
    --bg: #000;            /*  1.00 */
    --gray: #949597;       /*  7.00 */
    --hover: #1a1a1c;      /*  1.20 */
    --rose: #e80070;       /*  4.66 */
    --rose-hover: #c0005c; /*  3.39 */
    --red: #ee0000;        /*  4.63 */
    --red-hover: #c00000;  /*  3.24 */
    --transparent: #000a;
    --border: .0625rem solid var(--hover);
    --radius: .5rem;
    --main-width: 34.75rem;
    --menu-width: 12.5rem;
}

::selection {
    color: #fff;
    background-color: var(--rose);
}

a,
p,
h1,
h2,
html,
body,
input,
button,
textarea {
    all: unset;
}

/* ----- Body ----- */
html,
body {
    flex-direction: column;
    touch-action: manipulation;
    font: 400 16px Roboto, 'Roboto', -apple-system, BlinkMacSystemFont, system-ui, Helvetica, Arial, sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}

body,
body * {
    display: flex;
    box-sizing: border-box;
}

/* ----- Nav ----- */
nav {
    position: fixed;
    border-bottom: var(--border);
    height: 2.5rem !important;
    z-index: 1;
}

#bnav,
nav > :first-child {
    align-items: center;
    width: calc(50% - var(--main-width) / 2 + .5rem);
    min-width: 12.5rem;
}

nav h1 {
    font-size: 18px;
    height: fit-content;
}

nav .input {
    max-width: calc(var(--main-width) - 1rem);
    width: calc(100% - 25rem);
}

#bnav {
    justify-content: flex-end;
}

/* ----- Sidebar ---- */
#side {
    position: fixed;
    border-right: var(--border);
    width: var(--menu-width);
    height: 100%;
    padding-top: 2.5rem;
    z-index: 2;
}

#side > :first-child {
    overflow: hidden auto;
    border-bottom: var(--border);
    height: calc(100% - 2.5rem);
}

.side nav,
.side #bnav,
.side #main {
    padding-left: var(--menu-width);
}

/* ----- Main ----- */
main,
#main {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

#main {
    padding-top: 2.5rem;
}

#main main {
    max-width: var(--main-width);
    padding: 0 .5rem;
}

/* ----- Buttons ----- */
h1,
svg,
img,
span,
::placeholder,
button:not(.href) {
    -webkit-user-select: none;
    user-select: none;
}

button:hover,
button:focus-visible {
    color: var(--fg);
}

/* --- Rose buttons --- */
.btn {
    color: #fff;
    background-color: var(--rose);
    height: 2.5rem;
}

.btn:hover,
.btn:focus-visible {
    background-color: var(--rose-hover) !important;
}

/* --- Text buttons --- */
.a {
    color: var(--rose);
}

.a:hover,
.a:focus-visible {
    color: var(--rose-hover);
}

/* ----- Icons ----- */
svg,
img,
video,
button > *,
.input div {
    pointer-events: none;
}

svg {
    fill: var(--gray);
    aspect-ratio: 1/1;
    height: 1.25rem;
    margin: .625rem;
}

button:hover svg,
button:focus-visible svg {
    fill: var(--fg);
}

img,
video {
    border-radius: var(--radius);
}

button img,
#back > :first-child {
    height: 1.5rem;
    margin: .5rem;
}

/* ----- Inputs ----- */
input,
textarea,
.li button:not(.a) {
    flex-grow: 1;
    min-width: 2.5rem;
    height: 2.5rem;
}

input,
button {
    max-height: 2.5rem;
}

input,
textarea {
    cursor: default;
    color: var(--fg);
}

textarea {
    word-wrap: break-word;
    height: 9.5rem;
    padding: .75rem;
}

input:focus,
textarea:focus {
    cursor: text;
}

::placeholder {
    text-transform: none;
    color: var(--gray);
}

/* --- Inputs with icons --- */
.input {
    flex-grow: 1;
    position: relative;
    border-radius: var(--radius);
    background-color: var(--hover);
}

.input div {
    position: absolute;
    left: 0;
}

.input input {
    padding-left: 2.5rem;
}

.input input:last-child {
    padding-right: .75rem;
}

/* Keep aspect ratio (i.e. square) */
.sq button:not(.a),
.input > *:not(input) {
    flex-grow: unset !important;
    width: 2.5rem;
}

/* ----- Lists ----- */
.li {
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bg);
    width: 100%;
    height: fit-content;
    min-height: 2.5rem;
}

.li div:not(.li) {
    justify-content: center;
}

.li button:not(.a) {
    border-radius: var(--radius);
}

.li button:not(.a):hover,
.li button:not(.a):focus-visible {
    background-color: var(--hover);
}

/* --- Label --- */
h1,
.li button span {
    flex-grow: 1;
    display: block;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.li button span:last-child {
    margin-right: .5rem;
}

/* ----- Popup ----- */
.popup {
    position: fixed;
    background-color: var(--transparent);
    width: 100%;
    height: 100%;
    padding: .5rem;
    top: 0;
    z-index: 3;
}

.popup > div {
    border: var(--border);
    border-radius: var(--radius);
    max-width: calc(var(--main-width) - 1rem);
    padding: .375rem .5rem;
}

.popup h2 {
    font-size: 1.125rem;
}

.popup div div {
    justify-content: flex-end;
}

#popup .a {
    margin-left: .5rem;
}

/* ----- Info banner ----- */
.banner {
    position: fixed;
    color: #fff;
    background-color: var(--rose);
    border-top: var(--border);
    width: 100%;
    height: 2.5rem;
    bottom: 0;
    left: 0;
}

/* ----- Error page ----- */
.error {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/bg/peaks.svg);
    background-size: cover;
    max-width: none !important;
}

/* ----- Classes ----- */
.hidden,
#search,
::-webkit-scrollbar,
body:not(.side) #side,
.back #back > :first-child,
.search #search > :first-child,
body:not(.back) #back > :last-child,
body:not(.search) #search > :last-child {
    display: none;
}

.row {
    flex-direction: row
}

button,
.popup,
.banner,
.center {
    justify-content: center;
    align-items: center;
}

.freeze {
    overflow: hidden;
}

.lower {
    text-transform: lowercase;
}

.gray {
    color: var(--gray);
}

.space > * {
    margin: .125rem 0;
}

/* ----- Mobile layout ----- */
@media screen and (max-width: 756px) {
    /* --- Nav --- */
    nav > :first-child {
        width: calc(100% - 2.5rem);
    }

    .search nav > :first-child {
        width: 2.5rem;
        min-width: 0;
    }

    h1 {
        text-align: center;
    }

    .search h1,
    body:not(.search) nav .input {
        display: none;
    }

    #search {
        display: flex;
    }

    #bnav {
        position: fixed;
        background-color: var(--bg);
        border-top: var(--border);
        width: 100%;
        bottom: 0;
        left: 0;
    }

    #bnav button {
        width: 20%;
    }
    
    /* --- Main --- */
    #main {
        padding: 2.5rem 0;
    }
}

@media screen and (max-width: 520px) {
    .side nav,
    .side #bnav,
    .side #main {
        padding-left: 0;
    }
}
