/* Latin */
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url(../font/roboto-latin.woff2) format('woff2');
}

:root {
    /** WCAG color contrast on #000 (hue)/(RGB diff) */
    --fg: #e1e0e6;         /* 16.00 (+1,+0,+6) */
    --bg: #000;            /* 01.00 (+0,+0,+0) */
    --gray: #949597;       /* 07.00 (+0,+1,+3) */
    --hover: #1a1a1c;      /* 01.20 (+0,+0,+2) */
    --blue: #6060ff;       /* 04.61 (240°) */
    --blue-hover: #7274fb; /* 06.40 (239°) */
    --red: #ed0000;        /* 04.60 (000°) */
    --red-hover: #FF4D49;  /* 06.40 (001°) */
    --transparent: #000a;
    --border: .0625rem solid var(--hover);
    --radius: .5rem;
    --menu-width: 15rem;
    --main-width: 34.75rem;
}

::selection {
    color: #fff;
    background-color: var(--blue);
}

a,
p,
h1,
h2,
html,
body,
input,
button,
textarea {
    all: unset;
}

/* ----- Body ----- */
html,
body {
    flex-direction: column;
    touch-action: manipulation;
    user-select: none;
    font: 400 16px Roboto, 'Roboto', -apple-system, BlinkMacSystemFont, system-ui, Helvetica, Arial, sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    width: 100%;
    height: 100%;
}

body,
body * {
    display: flex;
    box-sizing: border-box;
}

/* ----- Inputs ----- */
input,
textarea,
.btns button:not(.a) {
    border-radius: var(--radius);
    min-width: 2.5rem;
    height: 2.5rem;
    /* min-height: 2.5rem; */
}

input,
textarea {
    flex-grow: 1;
    cursor: default;
    color: var(--fg);
    background-color: var(--hover);
    padding: 0 .75rem;
}

textarea {
    word-wrap: break-word;
    width: 100%;
    height: 9.5rem;
    padding: .75rem;
}

.lower {
    text-transform: lowercase;
}

.upper {
    text-transform: uppercase;
}

input:focus,
textarea:focus {
    cursor: text;
}

::placeholder {
    text-transform: none;
    color: var(--gray);
}

/* ----- Buttons ----- */
.btns {
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: var(--bg);
    width: 100%;
}

.btns:not(nav) input,
.btns:not(.square) button {
    width: 100%;
}

.square button {
    width: 2.5rem;
}

button:hover,
button:focus-visible {
    color: var(--fg);
}

.btns button:not(.a):hover,
.btns button:not(.a):focus-visible {
    background-color: var(--hover);
}

/* --- Label --- */
h1,
.btns button span {
    flex-grow: 1;
    display: block;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btns button span:last-child {
    margin-right: .5rem;
}

/*
.btn button,
.list > div {
    border-radius: var(--radius);
    width: calc(100% + .125rem);
    margin: 0 -.0625rem;
}

.list > div,
.btn button:first-child {
    margin-top: -.0625rem;
}

.btn button:last-child {
    margin-bottom: -.0625rem;
}*/

/* --- Blue buttons --- */
.btn {
    color: #fff;
    background-color: var(--blue);
    /* border-radius: var(--radius); */
    /* height: 2.5rem; */
}

.btn:hover,
.btn:focus-visible {
    background-color: var(--blue-hover) !important;
}

/* .red,
.blue {
    color: #fff;
    background-color: var(--blue);
    border-radius: var(--radius);
    height: 2.5rem;
}

.red {
    background-color: var(--red);
}

.blue:hover,
.blue:focus-visible {
    background-color: var(--blue-hover) !important;
}

.red:hover,
.red:focus-visible {
    background-color: var(--red-hover) !important;
} */

/* --- Text buttons --- */
.a {
    color: var(--blue);
    width: fit-content !important;
    height: fit-content;
}

.red {
    color: var(--red);
}

.a:hover,
.a:focus-visible {
    color: var(--blue-hover);
}

.red:hover,
.red:focus-visible {
    color: var(--red-hover);
}

/* ----- Icons ----- */
svg,
img,
video,
button > * {
    pointer-events: none;
}

svg {
    fill: var(--gray);
    aspect-ratio: 1/1;
    height: 1.25rem;
    margin: .625rem;
}

button:hover svg,
button:focus-visible svg {
    fill: var(--fg);
}

img,
video {
    border-radius: var(--radius);
}

button img,
#back > :first-child {
    height: 1.5rem;
    margin: .5rem;
}

/* ----- Paragraphs ----- */
p {
    user-select: text;
}

/* ----- Classes ----- */
.hidden,
.search h1,
.search #bnav,
::-webkit-scrollbar,
body:not(.search) nav input,
.search #back > :not(:last-child),
.back:not(.search) #back > :not(:nth-child(2)),
body:not(.back, .search) #back > :not(:first-child) {
    display: none;
}

.btns,
.popup,
.center,
.btns button {
    justify-content: center;
    align-items: center;
}

.freeze {
    overflow: hidden;
}

.gray {
    color: var(--gray);
}

.space > * {
    margin: .125rem 0;
}

/* ----- Nav ----- */
nav {
    position: fixed;
    border-bottom: var(--border);
    height: 2.5rem;
    z-index: 1;
}

h1 {
    font-size: 18px;
    height: fit-content;
    margin-right: .125rem;
}

nav input {
    margin: 0 .125rem;
}

/* --- Info banner --- */
#bnav,
.banner {
    height: 2.5rem;
    bottom: 0;
    left: 0;
}

.banner {
    position: fixed;
    color: #fff;
    background-color: var(--blue);
    border-top: var(--border);
    width: 100%;
}

/* ----- Main ----- */
main,
#main {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

#main {
    padding-top: 2.5rem;
}

#main main {
    max-width: var(--main-width);
    padding: 0 .5rem;
}

/* ----- Side nav ---- */
#side {
    position: fixed;
    align-items: flex-start;
    border-right: var(--border);
    width: var(--menu-width);
    height: 100%;
    padding-top: 2.5rem;
}

#side > :first-child {
    overflow: hidden auto;
    border-bottom: var(--border);
    height: calc(100% - 2.5rem);
}

#side:not(.hidden) + #main {
    padding-left: var(--menu-width);
}

/* ----- Popup ----- */
#popup {
    z-index: 2;
}

.popup {
    position: fixed;
    background-color: var(--transparent);
    width: 100%;
    height: 100%;
    padding: .5rem;
    top: 0;
}

.popup > div {
    justify-content: flex-end;
    border: var(--border);
    border-radius: var(--radius);
    max-width: var(--main-width);
    padding: .375rem .5rem;
}

#popup div > * {
    width: 100%;
}

#popup h2 {
    font-size: 1.125rem;
}

#popup button {
    margin-left: .5rem;
}

/* --- New --- */
/* #new > div > :last-child {
    margin-left: auto;
}

[data-f="sB"] {
    margin-right: .25rem;
} */

/* ----- Toggle ----- */
/* .toggle div {
    background-color: var(--blue);
    border-radius: var(--radius);
    min-width: 2.5rem;
    height: 50%;
}

.toggle div::after {
    content: '';
    background-color: var(--fg);
    border-radius: var(--radius);
    width: 50%;
    height: 100%;
}

.toggle.false div {
    justify-content: flex-end;
    background-color: var(--gray);
} */

/* ----- List/Select ----- */
/* .list.false > div,
.list:not(.false) > button {
    display: none;
}

.list {
    position: relative;
}

.list > div {
    position: absolute;
    flex-direction: column;
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--radius);
    z-index: 1;
}

.list span:nth-child(3) {
    flex-grow: unset;
    color: var(--gray);
    min-width: fit-content;
    margin: 0 .125rem .125rem 0;
}

.list svg:nth-child(4) {
    width: 1rem;
    min-width: 1rem;
} */

/* ----- Error page ----- */
.error {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/bg/waves-1.svg);
    background-size: cover;
    max-width: none !important;
}

/* ----- Mobile layout ----- */
@media screen and (max-width: 525px) {
    /* --- Nav --- */
    h1 {
        text-align: center;
    }

    #bnav {
        position: fixed;
        background-color: var(--bg);
        border-top: var(--border);
        width: 100%;
    }

    .search #bnav {
        display: flex;
    }

    #bnav button {
        width: 20%;
    }
    
    #side,
    #main {
        padding: 2.5rem 0;
    }
}
