/* ----- Profile ----- */
.end,
.post,
.profile {
    flex-direction: column;
    align-items: center;
    color: var(--gray);
    border-bottom: var(--border);
    width: 100%;
    padding: .375rem 0;
}

/* Description */
.post p,
.profile p {
    text-align: justify;
    color: var(--fg);
    margin: .25rem 0 .125rem 0;
}

/* --- Top --- */
.profile-t,
.profile-t div div {
    align-items: center;
}

.profile-t > div {
    flex-direction: column;
    overflow: hidden;
    margin: 0 .25rem;
}

/* Profile picture */
.profile img {
    height: 2.75rem;
}

/* (User)name */
[data-f="sc"],
.profile-t span {
    display: block;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Display name */
.profile-t > div > :first-child {
    color: var(--fg);
    font-size: 17px;
}

/* Follow button */
[data-f="se"],
.profile button {
    margin-left: auto;
}

/* More button */
[data-f="sb"] svg,
[data-f="se"] svg {
    margin: 0;
}

/* --- Icons --- */
.post svg,
.profile svg {
    width: .875rem;
    min-width: .875rem;
    margin: 0 .1875rem 0 0;
    /* margin: .0625rem .1875rem 0 0; */
}

.profile-t svg {
    fill: var(--fg);
    margin: 0 0 0 .1875rem;
    /* margin: .125rem 0 0 .1875rem; */
}

.profile > :last-child span {
    margin-right: .5rem;
}

.post > :first-child > :last-child svg,
.profile > :last-child > :last-child svg {
    margin: 0;
}

/* ----- Posts ----- */
.post > *,
.post img,
.post video,
.profile > * {
    width: 100%;
}

.post p {
    margin-top: 0;
}

/* --- Media --- */
.media,
.media-c button {
    justify-content: center;
    align-items: center;
}

.media {
    position: relative;
    color: #fff;
    margin: 0 0 .125rem 0;
}

.media-p,
.media-c {
    position: absolute;
    border-radius: var(--radius);
    width: calc(100% - .5rem);
    left: .25rem;
}

.media svg {
    fill: #fff;
    width: 1.125rem;
    margin: 0;
}

/* -- Progress bar -- */
.media-p {
    background-color: var(--transparent);
    height: .375rem;
    bottom: 2.25rem;
}

.media-p div {
    width: 0;
    background-color: var(--blue);
    border-radius: .5rem 0 0 .5rem;
}

/* -- Controls -- */
.media-c {
    align-items: center;
    background-color: #0004;
    height: 1.75rem;
    bottom: .25rem;
}

.media-c button {
    width: 1.75rem;
    height: 100%;
}

.media-c span {
    margin-left: .25rem;
}

.media-c span:last-of-type {
    margin-right: auto;
}

/* -- Fullscreen -- */
.fullscreen {
    position: fixed !important;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
}

.fullscreen video {
    border-radius: 0;
}

.fullscreen .media-c > :last-child > :first-child,
.media:not(.fullscreen) .media-c > :last-child > :last-child {
    display: none;
}

/* --- Buttons --- */
.post > :last-child {
    justify-content: space-between;
}

/* Date */
[data-f="post.t"],
.post > :first-child > svg:last-of-type {
    margin-right: .25rem;
}

/* --- Liked post --- */
.liked {
    color: var(--blue);
}

.liked:hover,
.liked:focus-visible {
    color: var(--blue-hover);
}

.liked svg {
    fill: var(--blue);
}

.liked:hover svg,
.liked:focus-visible svg {
    fill: var(--blue-hover);
}

/* ----- End of feed ----- */
.end {
    border: none;
    padding-bottom: calc(100vh - 4.125rem);
}
